<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro.IconPacks" version="4.8.0" targetFramework="net46" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="NLog" version="4.7.5" targetFramework="net46" />
  <package id="NLog.Config" version="4.7.5" targetFramework="net46" />
  <package id="NLog.Schema" version="4.7.5" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="18.3.0.47" targetFramework="net46" />
  <package id="Syncfusion.SfSkinManager.WPF" version="18.3.0.47" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="18.3.0.47" targetFramework="net46" />
  <package id="Syncfusion.Themes.MaterialLightBlue.WPF" version="18.3.0.47" targetFramework="net46" />
  <package id="Syncfusion.Themes.Metro.WPF" version="18.3.0.47" targetFramework="net46" />
  <package id="Syncfusion.Themes.Office2016Colorful.WPF" version="18.3.0.47" targetFramework="net46" />
  <package id="Syncfusion.Themes.Office2019Colorful.WPF" version="18.3.0.47" targetFramework="net46" />
  <package id="Syncfusion.Themes.Office365.WPF" version="18.3.0.47" targetFramework="net46" />
  <package id="Syncfusion.Tools.WPF" version="18.3.0.47" targetFramework="net46" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net46" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net46" />
</packages>